/* loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* body{
  overflow: hidden;
} */
.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo{
  width: 50px;
}


.inner{
  width: 100%;
  height: 100%;
  background-color: #f9f6f6ca;
  top: 100%;
  transition: .5s;
  border-radius: 30px;
  color: black;
 
}

.meal:hover .inner{
  top: 0;
}

.imgData{
  border-radius: 30px;
}

.menu{
  z-index: 99;
}




i{
  cursor: pointer;
}

.cursor-pointer{
  cursor: pointer;
}

